.body {
    background: url(img.png) center / cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background: #fcf8f8;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 9);
    z-index: 100;
  }
  h1 {
    text-align: center;
  }

  .case-info {
    margin-bottom: 20px;
  }
  .case-info label {
    font-weight: bold;
  }
  .case-info p {
    margin: 5px 0;
  }