@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");

:root {
  --hero-gap: 60px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

h1 {
  font-size: calc(0.5rem + 8vmin);
  font-weight: 600;
  font-style: italic;
}

h2 {
  font-size: calc(0.8rem + 4vmin);
  font-weight: 600;
  font-style: italic;
  line-height: 1.2;
}
p {
  font-size: calc(0.8rem + 1.25vmin);
  line-height: 1.65;
}

.caption {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  z-index: 2;
  font-size: 0.6rem;
}

.parallax-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
}

.parallax-content {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--hero-gap));
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.9;
    transform: translateZ(1px);
  }

  .hero__title {
    color: black;
    z-index: 2;

    transform: translateZ(-2px) scale(1.2);

    p {
      margin-top: 0.5rem;
      font-size: calc(0.6rem + 0.75vmin);
      h3 {
        color: white;
      }
    }

    a {
      color: white;
    }
  }
  .hero__title h1 {
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding (optional) */
    position: relative; /* Enable relative positioning */
    top: 0; /* Set top position to 0 */
    left: 0;
    font-size: 700%;
    /* align-items: left; */
    background-image: linear-gradient(
      to right,
      rgb(42, 41, 43),
      rgb(103, 102, 103),
      rgb(190, 189, 190)
    ); /* Adjust colors and direction as needed */
    -webkit-background-clip: text; /* For older browsers */
    -webkit-text-fill-color: transparent; /* For older browsers */
    color: transparent;
    .poetsen-one-regular {
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 100%;
    transform: translateZ(8px);
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.013) 8%,
      hsla(0, 0%, 0%, 0.049) 14.8%,
      hsla(0, 0%, 0%, 0.104) 20.8%,
      hsla(0, 0%, 0%, 0.175) 26%,
      hsla(0, 0%, 0%, 0.259) 30.8%,
      hsla(0, 0%, 0%, 0.352) 35.3%,
      hsla(0, 0%, 0%, 0.45) 39.8%,
      hsla(0, 0%, 0%, 0.55) 44.5%,
      hsla(0, 0%, 0%, 0.648) 49.5%,
      hsla(0, 0%, 0%, 0.741) 55.2%,
      hsla(0, 0%, 0%, 0.825) 61.7%,
      hsla(0, 0%, 0%, 0.896) 69.2%,
      hsla(0, 0%, 0%, 0.951) 77.9%,
      hsla(0, 0%, 0%, 0.987) 88.1%,
      hsl(0, 0%, 0%) 100%
    );
    z-index: 1;
  }
}

.main-content {
  position: relative;
  margin: 0 auto;
  padding: var(--hero-gap) 2rem;
  max-width: 725px;
  background-color: white;

  > * + * {
    margin-top: 2rem;
  }
}

.scroll-icon-container {
  --size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: calc(var(--size) * -1);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  border-radius: 0.15rem;
  background-color: inherit;
  box-shadow: 0 6px 12px -3px rgba(black, 0.1);
  z-index: 4;

  .icon--down-arrow {
    width: var(--size);
    height: var(--size);
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 162, 162);
}

.container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-bottom: 150px; */
  padding: 50px;
}

.text h2 {
  font-size: 150px;
  text-shadow: rgb(20, 20, 21) 1px 0 10px;
}
.text {
  /* flex: 1; */
  /* padding: 20px; */
  margin-bottom: 50px;
  /* padding-bottom: 100px; */
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
}

img {
  width: 60%;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

/* Animation for text */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animated-text {
  animation: slideInFromLeft 1s ease;
}
/* 
h2 {
  color: hsl(0, 3%, 7%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}

h2 span {
  transition: 0.5s ease-out;
}
h2:hover span:nth-child(1) {
  margin-right: 5px;
}
h2:hover span:nth-child(1):after {
  content: "'";
}
h2:hover span:nth-child(2) {
  margin-left: 30px;
}
h2:hover span {
  color: #391f1f;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
} */
.btn-yellow {
  background-color: #ffc107; /* Yellow color code */
  color: #d8d8c7; /* Text color */
  border-color: #ffc107; /* Border color */
}

/* Add custom CSS for button spacing */
.mx-3 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
